{% extends '::base.html.twig' %}

{% block main %}
    {{ render(controller("NTSearchBundle:SearchFrontend:search")) }}

    <div class="row">
        <div class="col-lg-12">
            <h1>{{ content.title }}</h1>
            
            {% if content.description is defined and content.description is not null and content.description|length %}
                <article class="article">
                    {{ content.description|graw }}
                </article>
            {% endif %}
        </div>
        <div class="col-lg-6">
            <div class="blockMap">
                {% if dealers is defined and dealers is not null and dealers|length %}
                    <div id="map" class="mapContacts"></div>
                {% endif %}
            </div>
        </div>
        
        <div class="col-lg-6">
            {% form_theme form with 'NTContentBundle:Form:contact_form.html.twig' %}
            {{ 
                form_start(
                    form, 
                    { 
                        'attr': {
                            'novalidate': 'novalidate',
                            'class': 'well form-horizontal',
                            'id': 'contact_form'
                        }
                    }
                ) 
            }}
            <fieldset>

            <legend>{{ 'contact.title'|trans({}, 'NTFrontendBundle')}}</legend>

            {% if app.session.flashbag.get('success') %}
                <div class="alert alert-success fade in">
                    <a class="close" data-dismiss="alert" href="#">×</a>
                    {{'contact.success'|trans({}, 'NTFrontendBundle')}}
                </div>
            {% endif %}

            {% if app.session.flashbag.get('error') %}
                <div class="alert alert-danger fade in"> 
                    <a class="close" data-dismiss="alert" href="#">×</a>
                    {{ 'contact.error'|trans({}, "NTFrontendBundle")}}
                </div>
            {% endif %}

            <div class="form-group">
                {{ form_label(form.name) }}
                <div class="col-md-7 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-user"></i>
                        </span>
                        {{form_widget(form.name) }}
                    </div>
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.family) }}
                <div class="col-md-7 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-user"></i>
                        </span>
                        {{form_widget(form.family) }}
                    </div>
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.email) }}
                <div class="col-md-7 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-envelope"></i>
                        </span>
                        {{form_widget(form.email) }}
                    </div>
                </div>
            </div>
    
            <div class="form-group">
                {{ form_label(form.phone) }}
                <div class="col-md-7 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-earphone"></i>
                        </span>
                        {{form_widget(form.phone) }}
                    </div>
                </div>
            </div>
                
            <div class="form-group">
                {{ form_label(form.address) }}
                <div class="col-md-7 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-home"></i>
                        </span>
                        {{form_widget(form.address) }}
                    </div>
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.city) }}
                <div class="col-md-7 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-home"></i>
                        </span>
                        {{form_widget(form.city) }}
                    </div>
                </div>
            </div>
              
            <div class="form-group">
                {{ form_label(form.message) }}
                <div class="col-md-7 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-pencil"></i>
                        </span>
                        {{form_widget(form.message) }}
                    </div>
                </div>
            </div>

            <!-- Button -->
            <div class="form-group">
                <label class="col-md-4 control-label"></label>
                <div class="col-md-4">
                    <button type="submit" class="btn btn-success">
                        {{ 'contact.submit'|trans({}, 'NTFrontendBundle')}} <span class="glyphicon glyphicon-send"></span>
                    </button>
                </div>
            </div>
            </fieldset>
            {{ form_end(form) }}
            </div><!-- /.form -->
        </div>

        <?php include 'ssi/publish.php'; ?>
    </div>
    <!-- /.row -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        {#
        $(function() {
            var $form = $('form[name="contacts"]');
            var formValidator = $form.formValidator({
                validCallback: function(el, isValid) {
                    if (isValid) {
                        if ($(el).hasClass('g-recaptcha-response')) {
                            $('#captcha_error').remove();
                        }
                        $(el).parent('div.field').removeClass('fieldError');
                        $(el).parent('div.field').addClass('fieldSuccess');
                    } else {
                        if ($(el).hasClass('g-recaptcha-response') && !$('#captcha_error').length) {
                            $('#captcha').append('<p id="captcha_error" class="textError">{{ 'fill_captcha'|trans({}, 'NTFrontendBundle')}}</p>');
                        }
                        if (!$(el).parent('div.field').hasClass('fieldError')) {
                            $(el).parent('div.field').removeClass('fieldSuccess');
                            $(el).parent('div.field').addClass('fieldError');
                        }
                    }
                }
            });
        
            $($form.prop('elements')).keyup(formValidator.validateElement);
            $($form.prop('elements')).change(formValidator.validateElement);
        });
        #}

        $(function(){
            var haveToScroll ={% if app.session.flashbag.has('error') or app.session.flashbag.has('success') %}true{% else %}false{% endif %};
            if (haveToScroll) {
                $('html, body').stop(true, true).animate({
                    scrollTop: $('#contact_form').offset().top
                }, 1300);
            };
        });
    </script>
    {% if dealers is defined and dealers is not null and dealers|length %}
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDlvoE-NOPnju-y-33J0IWcrmgcWvMz2FI"></script>
        <script>
            $(function() {
                // google map
                var $map = $('#map');
                var locations = {};

                locations = {
                    {% for dealer in dealers %}
                        "{{loop.index}}":{"latitude":"{{dealer.latitude}}","longitude":"{{dealer.longitude}}", "pinDescription":'{% spaceless %}{{dealer.pinDescription|replace({"'":"\""})|raw}}{% endspaceless %}'}{% if not loop.last %},{% endif %}
                    {% endfor %}
                };

                if (countObjectlocations(locations)) {
                    initMap($map.selector, locations);
                } else {
                    $map.hide();
                }
            });

            // google map
            function countObjectlocations (locations) {
                var count = 0;
                for (i in locations) {
                    if (locations.hasOwnProperty(i)) {
                        count++;
                    }
                }
                return count > 0 ? true : false;
            }

            function initMap (mapElement, locations) {
                // get map selector
                mapElement = mapElement.replace('#', '');

                var customStyles = [];
                for (first in locations) {
                    var firstIndex = first;
                    break;
                };
                var mapOptions = {
                    zoom: 17,
                    styles: customStyles,
                    disableDefaultUI: false,
                    center: new google.maps.LatLng( locations[firstIndex].latitude, locations[firstIndex].longitude ),
                    panControl: true,
                    zoomControl: true,
                    mapTypeControl: true,
                    scaleControl: true,
                    streetViewControl: true,
                    overviewMapControl: true,
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                }

                var map = new google.maps.Map(document.getElementById(mapElement), mapOptions);

                var markerBounds = new google.maps.LatLngBounds();

                var infowindow = new google.maps.InfoWindow();

                var marker;
                for (i in locations) {
                    // var iconUrl = "images/mapPin.png",
                    // iconSize = new google.maps.Size(55, 65);
                    var markerPosition = new google.maps.LatLng(locations[i].latitude, locations[i].longitude);
                    marker = new google.maps.Marker({
                        position: markerPosition,
                        map: map,
                        animation: google.maps.Animation.DROP,
                        // icon: {
                        //     url: iconUrl,
                        //     scaledSize: iconSize
                        //     // anchor: new google.maps.Point(23, 64) // pin point position
                        // }
                    });
                    markerBounds.extend(markerPosition);

                    // add infoWindow to each pin
                    if (locations[i].pinDescription) {
                        google.maps.event.addListener(marker, 'click', (function(marker, i) {
                            return function() {
                                infowindow.setContent(locations[i].pinDescription);
                                infowindow.open(map, marker);
                            }
                        })(marker, i));
                    }
                }
                {% if dealers|length > 1 %}
                    // change zoom for multiple pins
                    map.fitBounds(markerBounds);
                {% endif %}
            }
        </script>
    {% endif %}
{% endblock %}
