{% extends '::base.html.twig' %}

{% block main %}
    <div class="banner desktopHidden">
        {{ 
            render(controller('NTBannersBundle:BannersFrontend:renderHomepageBanner')) 
        }}
    </div>

    {% if 'NTSliderBundle'| bundle_exists %}
        {{ render(controller("NTSliderBundle:SliderFrontend:homepageSlider")) }}
    {% endif %}

    {{ render(controller("NTSearchBundle:SearchFrontend:search")) }}
    {{ render(controller("NTCompaniesBundle:CompaniesFrontend:homepageCompanyCategories")) }}
    {{ render(controller("NTAccentsBundle:AccentsFrontend:homepageAccents")) }}
{% endblock %}

{% block javascripts %}
    {{parent()}}
{% endblock %}
