{% if accents is defined and accents is not null and accents|length %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                {{ 'accents.title'|trans({}, 'NTFrontendBundle')}}
            </h1>
        </div>

        {% for accent in accents %}
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-check"></i> {{ accent.title }}</h4>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-7">
                                {{ accent.description|raw }}
                            </div>
                            
                            {% if accent.translations[app.request.locale].image is defined and accent.translations[app.request.locale].image is not null and accent.translations[app.request.locale].image|length %}
                                <div class="col-md-5">
                                    <img src="{% path accent.translations[app.request.locale].image, 'index' %}" alt="">
                                </div>
                            {% endif %}
                        </div>

                        {% if accent.url is defined and accent.url is not null and accent.url|length %}
                            <a target="{{ accent.target }}" href="{{ accent.url }}" class="btn btn-default">
                                {{ 'accents.learn_more'|trans({}, 'NTFrontendBundle')}}
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <!-- /.row -->
{% endif %}