<!-- Marketing Icons Section -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Някакви по-малки банери или акценти
        </h1>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4><i class="fa fa-fw fa-check"></i> Акцент 1</h4>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-7">
                        <p class="text-justify">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?
                        </p>
                    </div>
                    
                    <div class="col-md-5">
                        <img src="http://lorempixel.com/200/215/nature/" alt="">
                    </div>
                </div>

                <a href="#" class="btn btn-default">Научи повече</a>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4><i class="fa fa-fw fa-check"></i> Акцент 2</h4>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-7">
                        <p class="text-justify">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?
                        </p>
                    </div>
                    
                    <div class="col-md-5">
                        <img src="http://lorempixel.com/200/215/nature/" alt="">
                    </div>
                </div>
                <a href="#" class="btn btn-default">Научи повече</a>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->

{% if accents is defined and accents is not null and accents|length %}
    <div class="accent accentFeatured">
        <div class="wrapper">
            <p class="accentTitle">{{ 'accents_title'|trans({}, 'NTFrontendBundle')}}</p>

            <div class="boxes boxesAccent">
                {% for accent in accents %}
                    {% set haveUrl = false %}
                    {% if accent.url is defined and accent.url is not null and accent.url|length %}
                        {% set haveUrl = true %}
                    {% endif %}
                    <div class="boxAccent">
                        {% if accent.translations[app.request.locale].image is defined and accent.translations[app.request.locale].image is not null and accent.translations[app.request.locale].image|length %}

                            <a {% if haveUrl %}href="{{ accent.url }}" target="{{ accent.target }}"{% else %}href="javascript:;"{% endif %} class="photo" style="background-image: url({% path accent.translations[app.request.locale].image, 'index' %});"></a>
                        {% endif %}

                        <div class="content">
                            <p class="title">
                                <a {% if haveUrl %}href="{{ accent.url }}" target="{{ accent.target }}"{% else %}href="javascript:;"{% endif %}>
                                    {{ accent.title }}
                                </a>
                            </p>

                            {% if accent.description is defined and accent.description is not null and accent.description|length %}
                                <div class="text">
                                    {{ accent.description|raw }}
                                </div>
                            {% endif %}

                            {% if haveUrl %}
                                <div class="more">
                                    <a href="{{ accent.url }}" target="{{ accent.target }}">{% if accent.buttonTitle is defined and accent.buttonTitle is not null and accent.buttonTitle|length %}{{ accent.buttonTitle }}{% else %}{{ 'learn_more'|trans({}, 'NTFrontendBundle')}}{% endif %}</a>
                                </div>
                            {% endif %}
                        </div>
                    </div><!-- /.boxAccent -->
                {% endfor %}
            </div><!-- /.boxes -->
        </div><!-- /.wrapper -->
    </div><!-- /.accent -->
{% endif %}
