{% extends '::base.html.twig' %}

{% block main %}
    {{ render(controller("NTSearchBundle:SearchFrontend:search")) }}

    <div class="row mobileHidden">
        <div class="col-lg-12">
            {{
                render(controller('NTBannersBundle:BannersFrontend:renderBanners', {
                    'position': 'top',
                    'random': true,
                }))
            }}
        </div>
    </div>

    <div class="mobileHidden">
        <hr/>
    </div>

    <div class="row">
        <div class="col-lg-12">
            {{ 'catalogue.letter_index'|trans({}, 'NTFrontendBundle')}}
            {% for letter,category in companiesCategories %}
                <a href="#{{letter}}">{{letter}}</a>{% if not loop.last %}, {% endif %}
            {% endfor %}
            {# <a href="#Б">Б</a>,
            <a href="#В">В</a>,
            <a href="#Г">Г</a>,
            <a href="#Д">Д</a>,
            <a href="#Е">Е</a>,
            <a href="#Ж">Ж</a>,
            <a href="#З">З</a>,
            <a href="#И">И</a>,
            <a href="#Й">Й</a>,
            <a href="#К">К</a>,
            <a href="#Л">Л</a>,
            <a href="#М">М</a>,
            <a href="#Н">Н</a>,
            <a href="#О">О</a>,
            <a href="#П">П</a>,
            <a href="#Р">Р</a>,
            <a href="#С">С</a>,
            <a href="#Т">Т</a>,
            <a href="#У">У</a>,
            <a href="#Ф">Ф</a>,
            <a href="#Х">Х</a>,
            <a href="#Ц">Ц</a>,
            <a href="#Ч">Ч</a>,
            <a href="#Ш">Ш</a>,
            <a href="#Щ">Щ</a>,
            <a href="#Я">Я</a> #}
        </div>
    </div>

    <hr/>

    <div class="row">
        <div class="col-lg-2 mediumBanner">
            {{
                render(controller('NTBannersBundle:BannersFrontend:renderBanners', {
                    'position': 'left',
                    'random': false,
                }))
            }}
        </div>
        <div class="col-lg-8">
            <table class="table table-striped">
                <tbody>
                    {% for letter,categories in companiesCategories %}
                        {% for category in categories %}
                            <tr>
                                {% if loop.first %}
                                    <td><a name="{{letter}}">{{letter}}</a></td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                                <td>
                                    <a href="{{ path('companies_list', {'categorySlug':category.slug}) }}">
                                        {{ category.title }}
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-lg-2 mediumBanner">
            {{
                render(controller('NTBannersBundle:BannersFrontend:renderBanners', {
                    'position': 'right',
                    'random': false,
                }))
            }}
        </div>

        {% include 'NTCompaniesBundle:Frontend:publish_box_bottom.html.twig' %}

        <div class="banner desktopHidden">
            {{ 
                render(controller('NTBannersBundle:BannersFrontend:renderBanners', {
                    'position': 'top',
                    'random': true,
                }))
            }}
        </div>
    </div>
    <!-- /.row -->

    <hr>
{% endblock %}
