{% extends '::base.html.twig' %}

{% block main %}
    {{ render(controller("NTContentBundle:ContentFrontend:search")) }}
    
    <h1>{{ category.title }}</h1>
    
    <a href="{{ path('categories_list') }}">
        <span class="glyphicon glyphicon-arrow-left"></span> {{ 'catalogue.back_to_all_categories'|trans({}, 'NTFrontendBundle')}}
    </a>

    <div class="row">
        <!-- Companies -->
        <div class="col-lg-10">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>{{ 'catalogue.company_name'|trans({}, 'NTFrontendBundle')}}</th>
                            <th>
                                {% if locations is defined and locations is not null and locations|length %}
                                    <select id="locations">
                                        {% for location in locations %}
                                            <option value="{{ location.id }}">
                                                {{ location.title }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                {% endif %}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for company in companies %}
                            <tr>
                                <td>
                                    {% if company.isTop %}
                                        <span class="yellow-star glyphicon glyphicon-star"></span>
                                    {% endif %}
                                    <a href="{{ path('company_view', {'categorySlug':category.slug, 'companySlug': company.slug}) }}">
                                        {{ company.title }} ({{ category.title }})
                                    </a>
                                </td>
                                <td>{{ company.location }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <nav class="paginator">
                    <ul class="pagination">
                        <li class="disabled"><a href="#">&laquo;</a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li class="disabled"><a href="#">...</a></li>
                        <li><a href="#">215</a></li>
                        <li><a href="#">&raquo;</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- Banners -->
        <div class="col-lg-2 mediumBanner">
            <a href="productView.php"><img src="images/banners/medium/1.jpg"></a>
            <a href="productView.php"><img src="images/banners/medium/1.jpg"></a>
            <a href="productView.php"><img src="images/banners/medium/1.jpg"></a>
            <a href="productView.php"><img src="images/banners/medium/1.jpg"></a>
            <a href="productView.php"><img src="images/banners/medium/1.jpg"></a>
            <a href="productView.php"><img src="images/banners/medium/1.jpg"></a>
            <a href="productView.php"><img src="images/banners/medium/1.jpg"></a>
            <a href="productView.php"><img src="images/banners/medium/1.jpg"></a>
        </div>

        <?php include 'ssi/publish.php'; ?>           
    </div>
    <!-- /.row -->
{% endblock %}
