{% extends '::base.html.twig' %}

{% import "::paginatorWithRouteAndSlug.html.twig" as pager %}

{% block main %}
    {% include '::breadCrumbs.html.twig' with {'breadCrumbs':breadCrumbs} %}

    <section id="main">
        {% include '::headerImage.html.twig' with {'content':content} %}

        <div class="mainBody">
            <div class="wrapper">
                {% set haveSideBar = false %}
                {% if sideBar is defined and sideBar is not null and sideBar|length %}
                    {% set haveSideBar = true %}
                {% endif %}
                <div class="mainContent{% if haveSideBar == false %} full{% endif %}">
                    <h1 class="titleMain">{{ content.title }}</h1>

                    {% if content.description is defined and content.description is not null and content.description|length %}
                        <article class="article">
                            {{ content.description|raw }}
                        </article>
                    {% endif %}

                    <div class="boxes boxesCompanies">
                        {% for company in companies %}
                            <div class="box">
                                <a href="{{ path(company.route, company.routeParams({'slug':company.slug})) }}" class="photo" style="background-image: url({% if company.translations[app.request.locale].image is defined and company.translations[app.request.locale].image is not null and company.translations[app.request.locale].image|length %}{% path company.translations[app.request.locale].image, 'index' %}{% else %}'/assets/images/no-img.jpg'{% endif %});"></a>

                                <div class="content">
                                    <p class="title">
                                        <a href="{{ path(company.route, company.routeParams) }}">
                                            {{ company.title }}
                                        </a>
                                    </p>

                                    {% if company.simpleDescription is defined and company.simpleDescription is not null and company.simpleDescription|length %}
                                        <div class="text">
                                            <p>{{ company.simpleDescription }}</p>
                                        </div>
                                    {% endif %}
                                </div>
                            </div><!-- /.box -->
                        {% endfor %}
                    </div><!-- /.boxes -->


                    {% if companies is defined and companies|length %}
                        {{ pager.pager(companies, 'companies_list') }}
                    {% endif %}
                </div><!-- /.mainContent -->

                {% if haveSideBar %}
                    <aside class="sidebar">
                        <p class="titleAside">{{ content.title }}</p>

                        <nav class="navAside">
                            {{ sideBar|raw }}
                        </nav><!-- /.navAside -->
                    </aside><!-- /.sidebar -->
                {% endif %}
            </div><!-- /.wrapper -->
        </div><!-- /.mainBody -->
    </section>
{% endblock %}
