{% extends '::base.html.twig' %}

{% import "::paginatorWithRouteAndSlug.html.twig" as pager %}

{% block main %}
    {{ render(controller("NTSearchBundle:SearchFrontend:search")) }}
    
    <h1>{{ category.title }}</h1>
    
    <a href="{{ path('categories_list') }}">
        <span class="glyphicon glyphicon-arrow-left"></span> {{ 'catalogue.back_to_all_categories'|trans({}, 'NTFrontendBundle')}}
    </a>

    <div class="row">
        <!-- Banners -->
        <div class="col-lg-2 mediumBanner">
            {{ 
                render(controller('NTBannersBundle:BannersFrontend:renderBanners', {
                    'position': 'left',
                    'isMain': false,
                    'pageId': category.id,
                    'locationId': location
                }))
            }}
        </div>

        <!-- Companies -->
        <div class="col-lg-8">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>{{ 'catalogue.company_name'|trans({}, 'NTFrontendBundle')}}</th>
                            <th>
                                {% if locations is defined and locations is not null and locations|length %}
                                    <select id="locations">
                                        <option value="0">{{ 'catalogue.please_select'|trans({}, 'NTFrontendBundle')}}</option>}
                                        {% for loc in locations %}
                                            <option{% if location == loc.id %} selected{% endif %} value="{{ loc.id }}">
                                                {{ loc.title }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                {% endif %}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for company in companies %}
                            <tr>
                                <td>
                                    {% if company.isTop %}
                                        <span class="yellow-star glyphicon glyphicon-star"></span>
                                    {% endif %}
                                    <a href="{{ path('company_view', {'categorySlug':category.slug, 'companySlug': company.slug}) }}">
                                        {{ company.title }}
                                    </a>
                                </td>
                                <td>{{ company.location }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                {% if companies is defined and companies is not null and companies|length %}
                    {{ pager.pager(companies, "companies_list", category.slug, 'categorySlug') }}
                {% endif %}
            </div>
        </div>
        <!-- Banners -->
        <div class="col-lg-2 mediumBanner">
            {{ 
                render(controller('NTBannersBundle:BannersFrontend:renderBanners', {
                    'position': 'right',
                    'isMain': false,
                    'pageId': category.id,
                    'locationId': location
                }))
            }}
        </div>

        {% include 'NTCompaniesBundle:Frontend:publish_box_bottom.html.twig' %}

        <div class="banner desktopHidden">
            {{ 
                render(controller('NTBannersBundle:BannersFrontend:renderHomepageBanner')) 
            }}
        </div>
    </div>
    <!-- /.row -->
{% endblock %}

{% block footerJS %}
    {{ parent() }}
    <script type="text/javascript">
    $(function(){
        var url = "{{app.request.getSchemeAndHttpHost()}}{{ path('companies_list', {'categorySlug':category.slug}) }}"
        $('#locations').on('change', function(){
            var locationId = $(this).val();
            if(locationId != 0) {
                window.location = url + "?location=" + locationId;
            } else {
                window.location = url;
            }
        });
    });
    </script>
{% endblock %}